.links-page {
  text-align: center;

  .search {
    margin-top: 10px;
  }

  ul.link-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;

    li {
      text-align: center;
      padding: 5px 10px;
    }
  }

  .link-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    display: inline;
    margin: 0;
    padding: 0;

    &:hover, &:focus {
      text-decoration: none;
    }
  }
  .link {
    text-decoration: none;
    &:hover, &:focus {
      text-decoration: none;
    }
  }
}
