.bookmarks-page {
  margin: 20px 0;

  .bookmarks {
    display: flex;
    flex-flow: column nowrap;

    .bookmark {
      display: flex;
      flex-flow: column nowrap;
      border-bottom: 1px solid #cccccc;
      &:last-child {
        border-bottom: none;
      }

      padding: 5px;

      .title {
        display: flex;
        flex-flow: row wrap;
        a.done {
          color: #777777;
          text-decoration: line-through;
        }
        .site {
          color: #777777;
          margin-left: 5px;
        }
      }
      .controls {
        * {
          &:after {
            content: "|";
            margin: 0 5px;
          }
          &:last-child:after {
            content: "";
            margin: 0;
          }
        }
      }
    }
  }
  .pagination {
    text-align: center;
    button {
      font-size: 18px;
      background: none;
      border: none;
    }
  }
}
