.calendar {
  .theme-l5 {color:#000; background-color:#f8fbfc}
  .theme-l4 {color:#000; background-color:#e9f0f6}
  .theme-l3 {color:#000; background-color:#d3e1ee}
  .theme-l2 {color:#000; background-color:#bdd2e5}
  .theme-l1 {color:#000; background-color:#a7c4dd}
  .theme-d1 {color:#fff; background-color:#77a3ca}
  .theme-d2 {color:#fff; background-color:#5d92c0}
  .theme-d3 {color:#fff; background-color:#4681b4}
  .theme-d4 {color:#fff; background-color:#3c6e9a}
  .theme-d5 {color:#fff; background-color:#325c81}
  
  .theme-light {color:#000; background-color:#f8fbfc}
  .theme-dark {color:#fff; background-color:#325c81}
  .theme-action {color:#fff; background-color:#325c81}
  
  .theme {color:#000; background-color:#92b6d5}
  .text-theme {color:#92b6d5}
  .border-theme {border-color:#92b6d5}
  
  .hover-theme:hover {color:#000; background-color:#92b6d5}
  .hover-text-theme {color:#92b6d5}
  .hover-border-theme:hover {border-color:#92b6d5}
  
  a {color: inherit; background-color: inherit;}
  a:hover {color:#92b6d5}

  display: flex;
  flex-wrap: wrap;

  & > * { flex: 1 0 100%; }

  .days-of-week, .days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-flow: row;
    grid-gap: 2px 2px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  header {
    text-align: center;
    padding: 10px 0;
  }

  .days-of-week {
    li {
      text-align: center;
      padding: 4px 0;
    }
  }

  .days-grid {
    li {
      @media all and (max-width: 740px) {
        height: calc(100vw / 7);
      }
      position: relative;
      height: 100px;
      .day {
        position: absolute;
        top: 3px;
        left: 7px;
        font-size: 11px;
        font-weight: bold;
      }
      .events {
        position: absolute;
        right: 7px;
        bottom: 3px;
        font-size: 21px;
      }
      .add {
        position: absolute;
        top: 3px;
        right: 7px;
        font-size: 21px;
        display: none;
      }
      &:hover {
        .add {
          display: block;
        }
      }
    }
  }
}
