.calendar {
  display: flex;
  flex-wrap: wrap;
}

.calendar .theme-l5 {
  color: #000;
  background-color: #f8fbfc;
}

.calendar .theme-l4 {
  color: #000;
  background-color: #e9f0f6;
}

.calendar .theme-l3 {
  color: #000;
  background-color: #d3e1ee;
}

.calendar .theme-l2 {
  color: #000;
  background-color: #bdd2e5;
}

.calendar .theme-l1 {
  color: #000;
  background-color: #a7c4dd;
}

.calendar .theme-d1 {
  color: #fff;
  background-color: #77a3ca;
}

.calendar .theme-d2 {
  color: #fff;
  background-color: #5d92c0;
}

.calendar .theme-d3 {
  color: #fff;
  background-color: #4681b4;
}

.calendar .theme-d4 {
  color: #fff;
  background-color: #3c6e9a;
}

.calendar .theme-d5 {
  color: #fff;
  background-color: #325c81;
}

.calendar .theme-light {
  color: #000;
  background-color: #f8fbfc;
}

.calendar .theme-dark {
  color: #fff;
  background-color: #325c81;
}

.calendar .theme-action {
  color: #fff;
  background-color: #325c81;
}

.calendar .theme {
  color: #000;
  background-color: #92b6d5;
}

.calendar .text-theme {
  color: #92b6d5;
}

.calendar .border-theme {
  border-color: #92b6d5;
}

.calendar .hover-theme:hover {
  color: #000;
  background-color: #92b6d5;
}

.calendar .hover-text-theme {
  color: #92b6d5;
}

.calendar .hover-border-theme:hover {
  border-color: #92b6d5;
}

.calendar a {
  color: inherit;
  background-color: inherit;
}

.calendar a:hover {
  color: #92b6d5;
}

.calendar > * {
  flex: 1 0 100%;
}

.calendar .days-of-week, .calendar .days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-flow: row;
  grid-gap: 2px 2px;
}

.calendar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.calendar header {
  text-align: center;
  padding: 10px 0;
}

.calendar .days-of-week li {
  text-align: center;
  padding: 4px 0;
}

.calendar .days-grid li {
  position: relative;
  height: 100px;
}

@media all and (max-width: 740px) {
  .calendar .days-grid li {
    height: calc(100vw / 7);
  }
}

.calendar .days-grid li .day {
  position: absolute;
  top: 3px;
  left: 7px;
  font-size: 11px;
  font-weight: bold;
}

.calendar .days-grid li .events {
  position: absolute;
  right: 7px;
  bottom: 3px;
  font-size: 21px;
}

.calendar .days-grid li .add {
  position: absolute;
  top: 3px;
  right: 7px;
  font-size: 21px;
  display: none;
}

.calendar .days-grid li:hover .add {
  display: block;
}
