.doc-page {
  margin: 20px 0;
}

.doc-page.list {
  display: flex;
  flex-flow: column nowrap;
}

.doc-page.list .row {
  display: flex;
  flex-flow: column nowrap;
  border-bottom: 1px solid #cccccc;
  padding: 5px;
}

.doc-page.list .row .doc {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.doc-page.list .row:last-child {
  border-bottom: none;
}

.doc-page.list .row .doc-controls .item {
  display: inline-block;
}

.doc-page.list .row .doc-controls *:after {
  content: "|";
  margin: 0 5px;
}

.doc-page.list .row .doc-controls *:last-child:after {
  content: "";
  margin: 0;
}

.doc-page.edit {
  display: flex;
  flex-flow: column;
}

.doc-page .controls {
  text-align: right;
}

.doc-page .controls * {
  margin-left: 0.5em;
}
