.links-page {
  text-align: center;
}

.links-page .search {
  margin-top: 10px;
}

.links-page ul.link-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

.links-page ul.link-list li {
  text-align: center;
  padding: 5px 10px;
}

.links-page ul.link-list a {
  text-decoration: none;
}
