.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;

  background-color: rgba(0,0,0,0.4);

  .modal-dialog {
    position: relative;
    width: auto;
    margin: .5rem auto;
    pointer-events: none;
    max-width: 500px;

    .modal-content {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      pointer-events: auto;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid rgba(0,0,0,.2);
      border-radius: .3rem;
      outline: 0;

      .modal-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem;
        border-bottom: 1px solid #e9ecef;
        border-top-left-radius: .3rem;
        border-top-right-radius: .3rem;

        h1 {
          margin: 0px;
        }

        button.close {
          cursor: pointer;
          color: #000;
          background-color: transparent;
          border: 0;
          font-size: 1.5em;
          font-weight: 700;
          opacity: 0.5;
          padding: 0;
	  &:hover { opacity: 0.75; }
        }
      }

      .modal-body {
        position: relative;
        flex: 1 1 auto;
        padding: 1rem;
      }

      .modal-footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 1rem;
        border-top: 1px solid #e9ecef;
      }
    }
  }
}

.form-group {
  display: flex;
  align-items: center;
  padding: 2px 0;
  label {
    flex: 1;
  }
  input, textarea, select {
    flex: 3;
  }
}
