.doc-page {
  margin: 20px 0;
  &.list {
    display: flex;
    flex-flow: column nowrap;
    .row {
      display: flex;
      flex-flow: column nowrap;
      .doc {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
      }
      border-bottom: 1px solid #cccccc;
      &:last-child {
        border-bottom: none;
      }
      padding: 5px;
      .doc-controls {
        .item {
          display: inline-block;
        }
        * {
          &:after {
            content: "|";
            margin: 0 5px;
          }
          &:last-child:after {
            content: "";
            margin: 0;
          }
        }
      }
    }
  }
  &.view {
    .markdown-body {
      margin-top: 1em;
    }
  }
  &.edit {
    display: flex;
    flex-flow: column;

    textarea {
      font-family: monospace;
    }
  }
  .controls {
    text-align: right;
    * {
      margin-left: 0.5em;
    }
  }
}
