.tags-container {
  &:not([disabled]) {
    border: 1px solid #999;
    background-color: white;
  }
  .tags {
    display: block;
    .tag {
      display: inline-block;
      padding: .2em .6em .3em;
      font-size: 75%;
      font-weight: 700;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: .25em;
      background-color: #777;
      margin: 0.2em;
      &.current {
        background-color: #333;
      }
      &:before {
        content: ' ';
      }
      .delete {
        display: inline-block;
        margin: 0 0.1em 0 0.4em;
        cursor: pointer;
        &[disabled] {
          display: none;
        }
      }
    }
  }
  .tag-input {
    display: inline;
    outline: none;
    border: 0px;
    height: 20px;
    margin: 2px;
    background-color: transparent;
  }
}
