#root {
  height: 100%;
}

#root content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr minmax(320px, 740px) 1fr;
  grid-template-rows: auto 1fr;
}

#root main {
  grid-column: 2;
}

#root header {
  grid-column: 1 / -1;
}
