ul.link-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul.link-list li {
  text-align: center;
  padding: 5px 10px;
}
ul.link-list a {
  text-decoration: none;
}
